.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
  a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }
  .next {
    text-align: right;
  }
}

.sidebar-nav-item-sub {
  padding-left: 45px;
}

pre {
  white-space: pre;
  overflow: auto;
}

.text-center {
  text-align: center;
}

body :not(.panel,.panel-heading,.panel-body,.panel-footer) {
  font-size: 20px;
}

.container.content {
  max-width: none;
}