#DrawingBoard {
  #penta-text {
    label {
      font-weight: bold;
    }
    input {
      margin: 10px;
    }

    #text-penta {
      font-family: monospace;
      line-height: normal;
    }
  }
  #penta-div {
    padding: 0 !important;
    margin: 0 !important;
    #penta-representation {
    }

    #errors {
      color: #9f0800;
    }

    #warnings {
      color: #df8000;
    }

    #success {
      color: #0c8d3a;
    }
  }
}
