---
layout: default
---
<div class="bootstrap-iso">
    <div class="container">
        <div class="row">

            <div class="profile col-xs-12 col-md-4" id="profile">
                <div class="portrait" style='background-image: url("/assets/img/o.png");'></div>
                <div class="portrait-title">
                    <h2 itemprop="name">{{ page.encadreTitle}}</h2>
                    <h3 itemprop="jobTitle">{{ page.encadreSubtitle }}</h3>
                    <h3 itemprop="worksFor">{{ page.company}}</h3>
                    <div id="social"></div>
                </div>
                <ul class="network-icon">
                    {% if page.email %}
                    <li>
                        <a href="mailto:{{page.email}}" target="_blank" rel="noopener"><i
                                class="fa fa-envelope big-icon"></i> </a>
                    </li>
                    {% endif %}
                    {% if page.twitter %}
                    <li>
                        <a href="https://www.twitter.com/{{page.twitter}}" target="_blank"
                           rel="noopener"><i
                                class="fa fa-twitter big-icon"></i> </a>
                    </li>
                    {% endif %}
                    {% if page.github %}
                    <li>
                        <a href="https://github.com/{{page.github}}" target="_blank" rel="noopener"><i
                                class="fa fa-github big-icon"></i> </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-xs-12 col-md-8">
                <h1>Biography</h1>
                <p>{{ content }}</p>

                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <h3>Education</h3>
                        <!--TODO-->
                        <ul class="ul-education">
                            {% for ed in page.education %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <h3>Work experience</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8" id="skills">
                {% for prog in site.data.skills.programming %}
                <div id="skill_{% increment skillcount %}" class="col-sm-4"
                     data-percent="{{ prog.percent }}" data-code="{{ prog.code }}" data-name="{{ prog.name }}"></div>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <div class="row align-items-start" id="languages">
                    {% assign counter = 0 %}
                    {% for lang in site.data.skills.language %}
                    <div class="col-sm-3">
                        <div class="skill-name">{{ lang.name }}</div>
                    </div>
                    <div class=" col-sm-8 col-sm-offset-1 ">
                        <div class="progress progress-striped">
                            {% assign index = counter | modulo: 3 %}
                            {% assign x = site.data.skills.colors[index].name %}
                            {% assign class = "progress-bar-" | append: x %}
                            <div class=" {{ class }} progress-bar"
                                 data-percent="{{lang.percent}}">
                            </div>
                            {% assign counter = counter | plus: 1 %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let divLanguages = jQuery("#languages");
    console.log(divLanguages);
    divLanguages.find(".progress-bar").each(function (i, divLang) {
        console.log(divLang);
        let percent = $(divLang).data('percent');
        $(divLang).attr('style', 'width: ' + percent + '%');
    });

    let divSkills = jQuery('#skills');
    divSkills.children().each(function (i, divSk) {
        console.log(divSk);
        Highcharts.chart('skill_' + i,
            {
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 35
                    },
                    backgroundColor: '#ffffff00',
                    spacingBottom: 65,
                    height: 200
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                subtitle: {
                    text: $(divSk).data('percent') + '%',
                    verticalAlign: 'middle',
                    y: 12,
                    style: {
                        color: '#4572A7',
                        fontSize: '22px',
                        fontFamily: "'Courier New', monospace"
                    }
                },
                title: {
                    text: $(divSk).data('name'),
                    y: 25,
                    style: {
                        fontSize: '25px',
                        fontFamily: "'Stoke', serif"
                    },
                    verticalAlign: 'bottom'
                },
                /*
                 tooltip: {
                 enabled: false,
                 animation: false,
                 backgroundColor: null
                 },*/

                plotOptions: {
                    pie: {
                        innerSize: '60%',
                        depth: 20,
                        dataLabels: false
                    }
                },
                series: [{
                    name: $(divSk).data('name'),
                    data: [
                        ['skill', $(divSk).data('percent')],
                        ['o', 100 - $(divSk).data('percent')]
                    ],
                    enableMouseTracking: false
                }]
            }
        );

    });
</script>